*{
    margin: 0%;
    padding: 0%;
}
body{
    font-size: 14px;
}

.container{
    max-width:1520px !important;
}

.label{
    font-weight: 600;
}

.form_1, .form_2{
    overflow: hidden;
}

thead th{
    font-size: 14px;
    font-weight: 500;

}

.formsContainer{
    display: none;
}

#saveData{
    position: fixed;
    top:90%;
    left:90%;
    filter: drop-shadow(2px 4px 6px rgba(38, 38, 38, 0.252));

}

.table {
    width: 100%;
    white-space: nowrap; /* Prevents content from wrapping */
}

.table-responsive {
    overflow-x: auto;
}